#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
if [ -x "$(command -v nvim)" ]; then
	nvim +'PlugInstall --sync' +qa --headless
fi
{{ else if eq .osid "linux-ubuntu" -}}
if [ -x "$(command -v nvim)" ]; then
	nvim +'PlugInstall --sync' +qa --headless
fi

chsh -s $(which zsh)
{{ end -}}
